<%- include ../../includes/header.ejs %>
<link rel="stylesheet" href="/css/single_property.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
<style>
    #mapid {
        min-height: 400px;
    }
</style>
<link rel="stylesheet" href="/css/contact.css">
</head>

<body class="page-load">
    <%- include ../../includes/preload.ejs %>

    <!-- Wrapper Start -->
    <div id="page_wrapper" class="container-fluid">
        <div class="row">
            <header id="header" class="w-100 bg_white nav-on-top">
                <!-- Nav Header Start -->
                <%- include('../../includes/navbar.ejs') %>
                <!-- Nav Header End -->
            </header>

            <!-- Banner Section Start -->
            <%- include('../../includes/banner_section.ejs', 
            {pageTitle: pageTitle, 
                imageUrl:imageUrl, 
                path: path
            }) %>
            <!-- Banner Section End -->

            <!-- Single Property Start -->
            <section class="full_row pt_80 bg_gray">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="property_slider" id="layerslider" style="width: 800px; height: 400px;">
                                        <% for(let image in property.imagini) {%>
                                        <div class="ls-slide" data-ls="duration: 4000;">
                                            <img src="/<%-property.imagini[image]%>" class="ls-bg"
                                                alt="Slide background">
                                            <img src="/<%-property.imagini[image]%>" class="ls-tn" alt="no image found">
                                        </div>
                                        <%} %>

                                    </div>
                                </div>
                            </div>

                            <div class="row mt-5">
                                <div class="col-md-12">
                                    <div class="single_property_detail">
                                        <div class="row mt-4">
                                            <div class="col-md-12">
                                                <span class="text_primary price_text"><%- property.displayPrice %></span>
                                            </div>
                                        </div>
                                        <div class="head">
                                            <h4 class="title mt-2"><%-property.titlu %></h4>
                                            <span class=""><i class="fas fa-map-marker-alt"></i>
                                                <%- property.adresa %></span>
                                        </div>
                                        <h4 class="inner-title mb-4 subtitle_prop">Descriere: </h4>
                                        <p class="property_detalii"><%- property.detalii %></p>
                                        <% if(property.specificatii) {%>
                                        <div class="more_information my-5 d-block">
                                            <h4 class="inner-title mb-4 subtitle_prop">Informatii utile</h4>
                                            <ul class="list-informations-specificatii">
                                                <% for(let spec in property.specificatii) { %>
                                                <li class="specificatii-lists">
                                                    <span
                                                        class="specificatii_title"><%-property.specificatii[spec].name %></span>
                                                    <ul class="specificatii-list">
                                                        <% for(let spec_no in property.specificatii[spec].specs) {%>
                                                        <li class="spec-name">
                                                            -<%- property.specificatii[spec].specs[spec_no] %></li>
                                                        <%}%>
                                                    </ul>
                                                </li>
                                                <% } %>
                                                    </ul>
                                        </div>
                                        <%} %>
                                        <!-- google maps in here -->

                                        <div class="single_map mb-5">
                                            <h4 class="inner-title mb-4">Locație</h4>
                                            <div id="mapid" class="map-canvas"> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="property_sidebar mt_md_50">
                                <div class="property_listing sidebar-widget">
                                    <%if(property.caracteristici) { %>
                                    <h4 class="widget-title mb-4">Caracteristici:</h4>
                                    <ul>
                                        <% for(let carac in property.caracteristici){ %>

                                        <li><span><%- property.caracteristici[carac].key %></span>
                                            <%-property.caracteristici[carac].value %></li>

                                        <% } %>
                                    </ul>
                                    <% } %>

                                </div>
                                <div class="contact_agent sidebar-widget">
                                    <div class="author_img"> <img src="img/testimonial/2.png" alt="">
                                        <div class="agent_info">
                                            <h5 class="author_name">
                                                <%- property.persoanaContact.firstName+' ' + property.persoanaContact.lastName%>
                                            </h5>
                                            <span><%-property.persoanaContact.phoneNumber %></span>
                                        </div>
                                    </div>
                                    <form id="contact-form">
                                        <input type="hidden" value="<%-property.persoanaContact.email %>"
                                            name="CONTACT_PERSON_EMAIL" />
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="firstname"
                                                        placeholder="Prenume">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="lastname"
                                                        placeholder="Nume">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="email"
                                                        placeholder="Email">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <textarea class="form-control" name="message" placeholder="Mesaj"
                                                        rows="5">Aș dori să aflu mai multe detalii pentru proprietaeta cu id-ul: <%-property._id %></textarea>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <button type="submit" class="btn btn_primary"
                                                    name="submit">Trimite</button>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="error-handel">
                                                    <div id="success">Mesajul a fost trimis.</div>
                                                    <div id="error">Eroare la procesarea mesajului, te rog incearcă din
                                                        nou.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Footer Section Start -->
            <%- include ../../includes/footer.ejs %>
            <!-- Footer Section End -->

            <!-- Find Part Satrt -->
            <a href="#" id="scroll"><i class="fas fa-arrow-up"></i></a>
            <!-- Find Part Satrt -->
            <input type="hidden" name="latlng" value="<%- latlng %>" />
        </div>
    </div>
    <!-- Wrapper End -->
    <%- include ../../includes/scripts.ejs %>
    <script src="/js/custom/leaflet_map.js"></script>
    <script src="/js/custom/contact.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            // Calling LayerSlider on the target element
            $('#layerslider').layerSlider({
                thumbnailNavigation: 'always',
                autoStart: false
            });
        });

    </script>
</body>

</html>