<div class="column mix mix_all <%- propertyInfo.propertyType %> col-lg-4 col-md-6">
  <div class="property_grid_1 property_item bg-white mb_30">
      <% 
        var propertyUrl = "/";
        transactionTypes.forEach((value)=>{
            if(value[1]["dbValue"] === propertyInfo.transactionType) {
                propertyUrl += value[1]["endpoint"] + "-"
            }
        })

        propertyTypes.forEach((value)=>{
            if(value[1]["dbValue"] === propertyInfo.propertyType) {
                propertyUrl += value[1]["endpoint"]
            }
        })

        propertyUrl += `/${propertyInfo.shortId}`
      %>
      <%- include('./thumbnail.ejs' , {propertyUrl:propertyUrl, status: propertyInfo.transactionType, thumbnail: propertyInfo.thumbnail, id: propertyInfo.shortId}) %>
          <div class="property_text p-3">
              <%- include('./title.ejs' , {propertyUrl:propertyUrl, status: propertyInfo.transactionType, title: propertyInfo.title, address:propertyInfo.address, id: propertyInfo.shortId}) %>
                  <div class="quantity">
                      <ul>
                          <% switch(propertyInfo.propertyType) {
                            case(1):
                            case(2): %>
                            <%- include('./details/housing.ejs' , {rooms: propertyInfo.rooms, surface: propertyInfo.features.usableArea}) %>
                            <% break;
                            case(3): %>
                            <%- include('./details/land.ejs' , {surface: propertyInfo.features.usableArea}) %>
                            <% break;
                        } %>
                      </ul>
                  </div>
          </div>
          <div class="bed_area d-table w-100">
              <ul>
                  <li>
                      <%- include('../utils/formatPrice.ejs' , {price: propertyInfo.price}) %>
                  </li>
                  <li class="icon_medium"><a href="#"><i class="flaticon-like"></i></a> </li>
                  <li class="icon_medium"><a href="#"><i class="flaticon-connections"></i></a> </li>
              </ul>
          </div>
  </div>
</div>
