<%- include ../includes/header.ejs %>
<link rel="stylesheet" href="/css/home_custom_dropdowns.css">
</head>

<body class="page-load">
    <%- include ../includes/preload.ejs %>

    <!-- Wrapper Start -->
    <div id="page_wrapper" class="container-fluid">
        <div class="row">
            <header id="header" class="w-100 bg_white nav-on-top">

                <!-- Nav Header Start -->
                <%- include('../includes/navbar.ejs') %>
                <!-- Nav Header End -->
            </header>

            <!-- Fixed Banner Part Start -->
            <section id="slider-fixed" class="full_row bg_img_4 py_80 overlay_1">
                <div class="vertical_center w-100">
                    <div class="container">
                        <div class="slider-search-2">
                            <h3 class="title text_white">Caută proprietatea</h3>
                            <div class="property_search_form p-4 mt_30 bg_white">
                                <% if(errorMessage) { %>
                                <div id="error_message"><%=errorMessage %></div>
                                <% }%>
                                <form action="/" method="POST" class="property_filter_input" id="home_form">
                                    <div class="row">
                                        <div
                                            class="col-lg-2 col-sm-6 <%= validationErrors.find(e => e.param === 'property_status') ? 'invalid' : '' %>">
                                            <select class="selectpicker form-control" name="property_status">
                                                <option selected disabled>Chirii/Vanzari</option>
                                                <option value="2">Inchiriere</option>
                                                <option value="1">Vanzare</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-2 col-sm-6">
                                            <%- include('../includes/property_types_dropdown.ejs') %>
                                        </div>
                                        <div class="col-lg-5 col-sm-8">
                                            <input value="<%= oldInput.search %>" name="search_input"
                                                class="form-control" type="text"
                                                placeholder="Caută o adresă, Ex: Dristor">
                                        </div>
                                        <div class="col-lg-3 col-sm-4">
                                            <input type="submit" value="Caută" class="btn btn_primary">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="my-3">
                            </div>
                            <span class="h4 text_white">avem o baza de date atent selecționată</span>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Slider Part End -->



            <!-- Property Tab Start -->
            <section class="full_row py_80 bg_gray">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="title_row text-center mb-5">
                                <h3 class="title mb-4">Ultimele <span class="text_primary">Noutăți</span></h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="gallery-section">
                                <div class="auto-container">
                                    <!--Filter-->
                                    <div class="filters">
                                        <ul class="filter-tabs filter-btns clearfix anim-3-all">
                                            <li class="active filter" data-role="button" data-filter="all">Toate</li>
                                            <li class="filter" data-role="button" data-filter=".1">Casă</li>
                                            <li class="filter" data-role="button" data-filter=".2">Apartament</li>
                                            <li class="filter" data-role="button" data-filter=".3">Terenuri</li>
                                        </ul>
                                    </div>
                                    <!--Filter List-->

                                    <!-- Tab Content -->
                                    <div class="row filter-list clearfix">
                                        <% for(let property of featuredProperties) { %>
                                            <%- include('../includes/homepage/card.ejs' , {propertyInfo: property})  %>
                                        <% }%>

                                    </div>
                                    <!-- End tab content -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Property Tab End -->
            <!-- Offer Part Start -->
            <section class="full_row pt_80 bg_white" style="border-top: 1px solid #efefef;">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="offer_item_2 mb_30 text-center wow fadeInLeft" data-wow-delay="200ms"
                                data-wow-duration="1000ms">
                                <div class="icon_large icon mb-2"><i class="flaticon-home-1"></i> </div>
                                <h5 class="title py-3"><a href="#">Inchirieri</a></h5>
                                <p>Regim hotelier? Se rezolvă</p>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="offer_item_2 mb_30 text-center wow fadeInLeft" data-wow-delay="100ms"
                                data-wow-duration="1000ms">
                                <div class="icon_large icon mb-2"><i class="flaticon-pencil-and-paper"></i> </div>
                                <h5 class="title py-3"><a href="#">Garantarea plății</a></h5>
                                <p>Nu trebuie să aveti vreo girjă, noi ne ingrijorăm de toate formalitățile</p>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="offer_item_2 mb_30 text-center wow fadeInRight" data-wow-delay="100ms"
                                data-wow-duration="1000ms">
                                <div class="icon_large icon mb-2"><i class="flaticon-home"></i> </div>
                                <h5 class="title py-3"><a href="#">Facilitare intermediere</a></h5>
                                <p>Timpul nostru este dedicat 100% pentru oferirea de servicii profesionale</p>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-sm-6">
                            <div class="offer_item_2 mb_30 text-center wow fadeInRight" data-wow-delay="200ms"
                                data-wow-duration="1000ms">
                                <div class="icon_large icon mb-2"><i class="flaticon-connections"></i> </div>
                                <h5 class="title py-3"><a href="#">Best Deal</a></h5>
                                <p>Ne asigurăm de cea mai bună ofertă</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Offer Part End -->

            <!-- info Banner -->
            <section class="full_row py_80 overlay_1 bg_img_3">
                <div class="container">
                    <div class="row">
                        <div class="banner_1 text-center"> <span class="text_white">Vrei să iți adaugi proprietatea in
                                baza noastră de date?</span>
                            <h2 class="title text_white my-4 text-capitalize">Te vom ajuta să-ți găsești clientul</h2>
                            <a class="btn btn_primary" href="/contact">Adaugă proprietate</a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- info Banner End -->

            <!-- Footer Section Start -->
            <%- include ../includes/footer.ejs %>
            <!-- Footer Section End -->

            <!-- Find Part Satrt -->
            <a href="#" id="scroll"><i class="fas fa-arrow-up"></i></a>
            <!-- Find Part Satrt -->
        </div>
    </div>
    <!-- Wrapper End -->
    <%- include ../includes/scripts.ejs %>
</body>

</html>