<%- include ../includes/header.ejs %>
</head>
<body class="page-load">
    <%- include ../includes/preload.ejs %>
<!-- Wrapper Start -->
<div id="page_wrapper" class="container-fluid">
    <div class="row">
        <header id="header" class="w-100 bg_white nav-on-top">
             <!-- Nav Header Start -->
             <%- include('../includes/navbar.ejs') %>
             <!-- Nav Header End -->
        </header>
        
        <!-- Banner Section Start -->
        <%- include('../includes/banner_section.ejs', {pageTitle: pageTitle}) %>
        <!-- Banner Section End --> 
        
        <!-- Submit Property Start -->
        <section id="submitPropertyApp" class="full_row py_80 bg_gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-10">
                        <form action="#" method="post" class="submit_form">
                            <div class="basic_information">
                                <h4 class="inner-title mb-4">Basic Information</h4>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <input type="text" placeholder="Property Title" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <input type="text" placeholder="Property Status" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <input type="text" placeholder="Property Types" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <div class="form-group">
                                            <input type="text" placeholder="Ares (Sqft)" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <div class="form-group">
                                            <input type="text" placeholder="Price (USD)" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <div class="form-group">
                                            <input type="text" placeholder="No. Of Rooms" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="important_facts">
                                            <label>Do you have any installment system for payment?</label>
                                            <div class="radio_check">
                                                <input type="checkbox" id="radio_1" class="hide" name="question" value="Yes">
                                                <label for="radio_1"><span>No</span><span>Yes</span></label>
                                            </div>
                                        </div>
                                        <div class="important_facts">
                                            <label>Have any insurance of this property?</label>
                                            <div class="radio_check">
                                                <input type="checkbox" id="radio_2" class="hide" name="question" value="Yes">
                                                <label for="radio_2"><span>No</span><span>Yes</span></label>
                                            </div>
                                        </div>
                                        <div class="important_facts">
                                            <label>Is there any labilities of third party with this property?</label>
                                            <div class="radio_check">
                                                <input type="checkbox" id="radio_3" class="hide" name="question" value="Yes">
                                                <label for="radio_3"><span>No</span><span>Yes</span></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="alert alert-warning">Please input the correct information of your property. Because it will effect on property search.</div>
                            </div>
                            <div class="description mt-5">
                                <h4 class="inner-title mb-4">Description</h4>
                                <div class="form-group">
                                    <textarea name="description" placeholder="Type Description..." class="form-control" rows="5"></textarea>
                                </div>
                                <div class="alert alert-warning">Need a proper description about the property. So that client can easily understand about the property.</div>
                            </div>
                            <div class="property_location mt-5">
                                <h4 class="inner-title mb-4">Property Location</h4>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-group">
                                                    <input type="text" placeholder="Property Adddress" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6">
                                                <div class="form-group">
                                                    <input type="text" placeholder="Judet" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-6">
                                                <div class="form-group">
                                                    <input type="text" placeholder="Oras" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-6">
                                                <div class="form-group">
                                                    <input type="text" placeholder="Zip Code" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-12">
                                                <div class="form-group">
                                                    <select class="selectpicker form-control" data-live-search="true">
                                                        <option>Sector</option>
                                                        <option>1</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                        <option>5</option>
                                                        <option>6</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="check_feature mt-5">
                                <h4 class="inner-title mb-4">check feature</h4>
                                <div class="row">
                                    <ul class="check_submit">
                                        <li>
                                            <input id="feature_1" class="hide" type="checkbox">
                                            <label for="feature_1">garden include</label>
                                        </li>
                                        <li>
                                            <input id="feature_2" class="hide" type="checkbox">
                                            <label for="feature_2">Garage Facility</label>
                                        </li>
                                        <li>
                                            <input id="feature_3" class="hide" type="checkbox">
                                            <label for="feature_3">Fire Security</label>
                                        </li>
                                        <li>
                                            <input id="feature_4" class="hide" type="checkbox">
                                            <label for="feature_4">Swiming Pool</label>
                                        </li>
                                        <li>
                                            <input id="feature_5" class="hide" type="checkbox">
                                            <label for="feature_5">Fire Place Facility</label>
                                        </li>
                                        <li>
                                            <input id="feature_6" class="hide" type="checkbox">
                                            <label for="feature_6">Play Ground</label>
                                        </li>
                                        <li>
                                            <input id="feature_7" class="hide" type="checkbox">
                                            <label for="feature_7">Ferniture Include</label>
                                        </li>
                                        <li>
                                            <input id="feature_8" class="hide" type="checkbox">
                                            <label for="feature_8">Marbel Floor</label>
                                        </li>
                                        <li>
                                            <input id="feature_9" class="hide" type="checkbox">
                                            <label for="feature_9">Store Room</label>
                                        </li>
                                        <li>
                                            <input id="feature_10" class="hide" type="checkbox">
                                            <label for="feature_10">Hight Class Door</label>
                                        </li>
                                        <li>
                                            <input id="feature_11" class="hide" type="checkbox">
                                            <label for="feature_11">Floor Heating System</label>
                                        </li>
                                        <li>
                                            <input id="feature_12" class="hide" type="checkbox">
                                            <label for="feature_12">Air Condition Facility</label>
                                        </li>
                                        <li>
                                            <input id="feature_13" class="hide" type="checkbox">
                                            <label for="feature_13">Fire Security</label>
                                        </li>
                                        <li>
                                            <input id="feature_14" class="hide" type="checkbox">
                                            <label for="feature_14">Fitness Room</label>
                                        </li>
                                        <li>
                                            <input id="feature_15" class="hide" type="checkbox">
                                            <label for="feature_15">Bathtub and Shaware</label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="alert alert-warning">Check the extra features and facility of the property, it will show with the property.</div>
                            </div>
                            <div class="upload_media mt-5">
                                <h4 class="inner-title mb-4">Upload Photo and Document</h4>
                                <p>Felis etiam erat curabitur bibendum iaculis quisque placerat egestas. Nullam, lacus dis et consectetuer rhoncus etiam. Non vitae turpis curae; lacus sociosqu. Quisque. Lobortis aliquam penatibus mi. </p>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="browse_submit"> <span>Add Photos</span>
                                            <input type="file" id="fileupload-example-1" class="hide"/>
                                            <label class="fileupload_label" for="fileupload-example-1">Drop your photos here or Click</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="property_thumbnails mt-5">
                                            <div class="row">
                                                <div class="thumbnails_box mb_30 col-lg-2 col-md-4 col-6"> <img src="img/property_grid/property_grid-1.png" alt=""> <i class="fas fa-window-close"></i> </div>
                                                <div class="thumbnails_box mb_30 col-lg-2 col-md-4 col-6"> <img src="img/property_grid/property_grid-2.png" alt=""> <i class="fas fa-window-close"></i> </div>
                                                <div class="thumbnails_box mb_30 col-lg-2 col-md-4 col-6"> <img src="img/property_grid/property_grid-3.png" alt=""> <i class="fas fa-window-close"></i> </div>
                                                <div class="thumbnails_box mb_30 col-lg-2 col-md-4 col-6"> <img src="img/property_grid/property_grid-4.png" alt=""> <i class="fas fa-window-close"></i> </div>
                                                <div class="thumbnails_box mb_30 col-lg-2 col-md-4 col-6"> <img src="img/property_grid/property_grid-5.png" alt=""> <i class="fas fa-window-close"></i> </div>
                                                <div class="thumbnails_box mb_30 col-lg-2 col-md-4 col-6"> <img src="img/property_grid/property_grid-6.png" alt=""> <i class="fas fa-window-close"></i> </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="browse_submit"> <span>Add Documents</span>
                                            <input type="file" id="fileupload-example-2" class="hide"/>
                                            <label class="fileupload_label" for="fileupload-example-1">Drop your document file here or Click</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="video_upload">
                                            <input type="url" placeholder="Add property video links or URL" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="alert alert-warning">Please uplaod the photo of the property, please keep the photo size 760X410 ratio and please upload the PDF or Doc file at the document attachment.</div>
                            </div>
                            <div class="property_owner mt-5">
                                <h4 class="inner-title mb-4">Input Contact Details</h4>
                                <p>Felis etiam erat curabitur bibendum iaculis quisque placerat egestas. Nullam, lacus dis et consectetuer rhoncus etiam. Non vitae turpis curae; lacus sociosqu. Quisque. Lobortis aliquam penatibus mi. </p>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="text" placeholder="Full Name" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="email" placeholder="Email Address" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="text" placeholder="Phone Number" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="browse_submit">
                                    <button name="submit" class="btn btn_primary">submit property</button>
                                    <p><span>note</span> : Your property will be under review for 24 Hours after submission *</p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- Submit Property End -->

        <!-- Footer Section Start -->
        <%- include ../includes/footer.ejs %>
        <!-- Footer Section End -->

        <!-- Find Part Satrt --> 
        <a href="#" id="scroll"><i class="fas fa-arrow-up"></i></a> 
        <!-- Find Part Satrt --> 
    </div>
</div>
<!-- Wrapper End --> 
<%- include ../includes/scripts.ejs %>
</body>
</html>
