<%- include ../includes/header.ejs %>
    </head>

    <body class="page-load">
        <%- include ../includes/preload.ejs %>
            <!-- Wrapper Start -->
            <div id="page_wrapper" class="container-fluid">
                <div class="row">
                    <header id="header" class="w-100 bg_white nav-on-top">
                        <!-- Nav Header Start -->
                        <%- include('../includes/navbar.ejs') %>
                            <!-- Nav Header End -->
                    </header>


                    <!-- Banner Section Start -->
                    <%- include('../includes/banner_section.ejs', {pageTitle: pageTitle}) %>
                        <!-- Banner Section End -->

                        <!-- Submit Property Start -->
                        <section id="submitPropertyApp" class="full_row py_80 bg_gray">
                            <%- include ../includes/modal.ejs %>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-9 col-md-10">
                                            <form @submit="checkForm" action="#" method="post" class="submit_form">
                                                <div class="basic_information">
                                                    <h4 class="inner-title mb-4">Informatii</h4>
                                                    <div class="row">
                                                        <div class="col-md-12 col-sm-12">
                                                            <div class="form-group">
                                                                <input v-model="formInputData.title" name="title"
                                                                    type="text" placeholder="Titlul"
                                                                    class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 col-sm-6">
                                                            <div class="form-group">
                                                                <select name="transactionType"
                                                                    v-model="formInputData.transactionType"
                                                                    class="form-control">
                                                                    <option selected disabled value="">Vanzare/Inchiriere
                                                                    </option>
                                                                    <option value="1">Vanzare</option>
                                                                    <option value="2">Inchiriere</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 col-sm-6">
                                                            <div class="form-group">
                                                                <select name="propertyType"
                                                                    v-model="formInputData.propertyType"
                                                                    class="form-control">
                                                                    <option selected disabled value="">Tipul
                                                                        Properietatii
                                                                    </option>
                                                                    <option value="1">Apartament</option>
                                                                    <option value="2">Casa</option>
                                                                    <option value="3">Teren</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4 col-sm-4">
                                                            <div class="form-group">
                                                                <input v-model="formInputData.surface" name="surface"
                                                                    type="number" placeholder="Suprafata"
                                                                    class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4 col-sm-4">
                                                            <div class="form-group">
                                                                <input v-model="formInputData.price" name="price"
                                                                    type="number" placeholder="Pret EUR"
                                                                    class="form-control">
                                                            </div>
                                                        </div>
                                                        <div v-if="Number(formInputData.propertyType) !== 3" class="col-md-4 col-sm-4">
                                                            <div class="form-group">
                                                                <input v-model="formInputData.rooms" name="rooms"
                                                                    type="text" placeholder="Numar camere"
                                                                    class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="alert alert-warning">Adauga datele relevante pentru
                                                        proprietate</div>
                                                </div>
                                                <div class="description mt-5">
                                                    <h4 class="inner-title mb-4">Descriere</h4>
                                                    <div class="form-group">
                                                        <textarea v-model="formInputData.description" name="description"
                                                            placeholder="Descriere proprietate" class="form-control"
                                                            rows="5"></textarea>
                                                    </div>
                                                    <div class="alert alert-warning">Adauga o descriere detaliata</div>
                                                </div>
                                                <div class="property_location mt-5">
                                                    <h4 class="inner-title mb-4">Locatie</h4>
                                                    <div class="row">
                                                        <div class="col-md-12 col-sm-12">
                                                            <div class="row">
                                                                <div class="col-md-6 col-sm-6">
                                                                    <div class="form-group">
                                                                        <input v-model="formInputData.address"
                                                                            name="address" type="text"
                                                                            placeholder="Adresa" class="form-control">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="upload_media mt-5">
                                                    <h4 class="inner-title mb-4">Incarca cateva imagini</h4>

                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="browse_submit"> <span>Adauga Poze</span>
                                                                <input name="images" :disabled="isSaving"
                                                                    @change="filesChange" accept="image/*" multiple
                                                                    type="file" id="fileupload-example-1"
                                                                    class="hide" />
                                                                <label v-if="isInitial" class="fileupload_label"
                                                                    for="fileupload-example-1">Apasa pentru a
                                                                    incarca</label>
                                                                <p v-if="isSaving">
                                                                    Se incarca {{ fileCount }} imagini...
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div v-if="uploadedFiles.length > 0" class="col-lg-12">
                                                            <div class="property_thumbnails mt-5">
                                                                <div class="row">
                                                                    <div v-for="item in uploadedFiles"
                                                                        class="thumbnails_box mb_30 col-lg-2 col-md-4 col-6">
                                                                        <img :src="item.url" :alt="item.originalName">
                                                                        <i @click="function(){handleDeleteImage(item.id)}"
                                                                            class="fas fa-window-close"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="alert alert-warning">Incarca imagini de maxim 5 MB, un
                                                        numar
                                                        de maxim 20 de imagini.
                                                        Adaugarea de imagini este optionala
                                                    </div>
                                                </div>
                                                <div class="property_owner mt-5">
                                                    <h4 class="inner-title mb-4">Informatii de contact</h4>
                                                    <div v-if="user.name" class="row">
                                                        <p>Aceasta proprietate va fi postata de catre: </p>
                                                        <p class="text-primary px-4">{{user.name}} {{user.email}}</p>
                                                    </div>
                                                    <div class="">
                                                        <button name="submit" class="btn btn_primary">Trimite
                                                            Proprietatea</button>
                                                        <p>Veti fi contactat in cel mult 24 de ore de un agent</p>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                        </section>
                        <!-- Submit Property End -->

                        <!-- Footer Section Start -->
                        <%- include ../includes/footer.ejs %>
                            <!-- Footer Section End -->

                            <!-- Find Part Satrt -->
                            <a href="#" id="scroll"><i class="fas fa-arrow-up"></i></a>
                            <!-- Find Part Satrt -->
                </div>
            </div>
            <!-- Wrapper End -->
            <%- include ../includes/scripts.ejs %>
    </body>

    </html>